/* CSS STYLESHEET */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Arial";
  margin: 0.2%;
  background-color: #0a0a0a;
  color: white
}

footer {
    color: gray;
    text-align: right;
    padding: 20px;
}

main {
  flex: 1; 
}

#homeSection {
  width: min(1100px, 92vw);
  margin: 0 auto;
}

#homeHeader {
    text-align: center;
}

.homeP{
    text-align: center;
}
#homepageDesc{
    text-align: center;
}

#homeButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeH2{
    text-align: center;
}

.card-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap; 

}

.card {
  flex: 1;
  min-width: 200px;
  border: 1px solid;
  border-color: #27272a;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #525252;
}